{% extends 'base/index.html' %}
{% load static %}

{% block content %}

<style>

    *{
    
       
        box-sizing: border-box;
    }
    .main_content{
        display:flex 
    }

    @media (max-width: 786px){
        img{
            display: none;
        }
    }
</style>
<section style="overflow: hidden;">
    {% include 'base/navbar.html' %}
<div class="main" id="Home" style="display: flex;">
    <div class="main_content">
        <div class="main_text"  style="width: 100%;">
            <h1>NIKE<br><span>Collection</span></h1>
            <p style="width: fit-content;">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has 
                been the industry's standard dummy text ever since the 1500s, when an unknown printer took 
                a galley of type and scrambled it to make a type specimen book. It has survived not only 
                five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </div>
        <div class="main_image">
            <img style="width: 100%;" src="{% static 'image/shoes.png' %}">
        </div>
    </div>
    <div class="social_icon">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin-in"></i>
    </div>
    <div class="button">
        <a href="{% url 'products' %}">SHOP NOW</a>
        <i class="fa-solid fa-chevron-right"></i>
    </div>
</div>
</section>
{% endblock content %}
